.Header_about{

    display:flex;
    align-items:center;
    justify-content: center;
    height:43rem;
    width: 100vw;

    overflow: hidden;
   
    
}

.header-bg_about{
    
    opacity: 0.5;
  position: relative; 
  left: 0;
  top: 0;
  width: 100%;  
}



.Header_components_about{

    position: absolute;
}

.Header_leftside_about{

   
    display: flex;
    justify-content: center; 
    align-items: center;

    
    padding: 1.5rem;
    border-radius: 1px;
    border: solid  rgb(180, 143, 48);;
    outline: none;
    background-color: white;    
}

.Header_leftside_about > h2 {
   
    font-size: 3.2rem;
    color: rgb(48, 45, 45);
    line-height: 1;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.02em;

}

@media screen and (max-width: 768px) {
    .Header_about{
        height:auto;
 
    }
    .header-bg_about{
        opacity: 1;
        position: relative; 
        left: 0;
        top: 0;
        height: 70vw;
        width: 100vw;
        border: solid  1px rgb(180, 143, 48);;
 
    }
    .Header_leftside_about > h2{
        font-size: 2.8rem;
 
    }
    .Header_leftside_about{
        padding: 1rem;
        border: solid 2px rgb(180, 143, 48);;
 
    }
}
