.Header_rest{

    display:flex;
    align-items:center;
    justify-content: center;
    /* height:100vh;
    width: 100vw; */
    overflow-y: hidden;
    height:100vh;
    background-image: url("../assets/design page header background .jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%; 
    /* position: relative; */

   
    
}





.Header_components_rest{

    position: absolute;
    

    
}

.Header_center_rest{
   
    display: flex;
    justify-content: center; 
    align-items: center;

    /* z-index: 950; */

    padding: 1.5rem;
    border-radius: 1px;
    border: solid  rgb(180, 143, 48);;
    outline: none;
    background-color: white;    
}

.Header_center_rest> h2 {
   
    font-size: 3.2rem;
    color: rgb(48, 45, 45);
    line-height: 1;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.02em;

}

@media screen and (max-width: 768px) {
    .Header_rest{
        height: 38vh;
        width: 100vw;
        /* overflow-y: visible; */
        margin-top: 25%;

 
    }

    
    .Header_center_rest{

       
        padding: 1rem;
        border: solid 2px rgb(180, 143, 48);;

   
    }

    .Header_center_rest > h2 {
   
        font-size: 2.8rem;
   
    
    }

}



 


