
.Design{

  display:flex;
  align-items:center;
  justify-content: center;
  /* border: solid green; */
  margin-top:5rem;
  flex-direction: column;
  width: 100vw;
  /* border: solid red; */

  
}




.Design > h1 {
  
  font-size: 1.7rem;
  color: rgb(180, 143, 48);;
  line-height: 1.7;
  font-weight: 550;
  letter-spacing: 0.02em;
  text-transform: none;
  text-align: center;
  /* line-height: 3rem; */
  max-width: 80vw;
}


.Design_components {

  display:flex;
  align-items:center;
  justify-content: center;
  /* max-width: 90vw; */
  scroll-margin-top: 10rem;
  margin-top:0rem;
  flex-direction: column;
  /* border: solid red; */

}


.Design_components > h1{

  font-size: 2.7rem;
  color: rgb(180, 143, 48);;
  line-height: 1;
  font-weight: 550;
  letter-spacing: 0.02em;
  margin-top: 4rem;

}

.Design_components > h2{

  font-size: 2.3rem;
  color: black;
  line-height: 1;
  font-weight: 450;
  letter-spacing: 0.01em;
  margin-top:4rem;
  
  }




@media screen and (max-width: 768px) {
  .Design{
    width: 100vw;
    margin-top:10%;
          
}

.Design > h1 {

  font-size: 1.5rem;
  color: rgb(180, 143, 48);;
  line-height: 1.7;
  font-weight: 550;
  letter-spacing: 0.02em;
  text-transform: none;
  text-align: center;

  /* max-width: 80vw; */


}

.Design_components {

display:flex;
flex-direction: column;
margin-top:0rem;
justify-content: center;
align-items: center;
text-align: center;
  /* border: solid red; */

    /* max-width: 80vw; */
}



.Design_components > h1{

  font-size: 2.3rem;
  color: rgb(180, 143, 48);;
  line-height: 1;
  font-weight: 550;
  letter-spacing: 0.02em;
  margin-top: 4rem;

}

.Design_components > h2{

  font-size: 2rem;
  color: black;
  line-height: 1;
  font-weight: 450;
  letter-spacing: 0.01em;
  margin-top:4rem;
  
  }
}

