.Restoration{

    display:flex;
    align-items:center;
    justify-content: center;
    /* border: solid green; */
    margin-top:150px;
    flex-direction: column;
    width: 100vw;

    
    
}

.Restoration > h1 {
  
    font-size: 2rem;
    color: rgb(180, 143, 48);;
    line-height: 1.7;
    font-weight: 550;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    text-align: center;
    /* line-height: 3rem; */
    max-width: 60rem;

}



.Restoration_components {

    display:flex;
    max-width: 90rem;
    scroll-margin-top: 10rem;
    margin-top:150px;
    position: relative;
    right: 40px;
}



.Restoration_leftside{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.Restoration_leftside img {
  height : 650px;
    width: 550px;
  }

  .Restoration_rightside  {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

  
  }


.Restoration_rightside > h1 {
   
    font-size: 3.2rem;
    color: rgb(48, 45, 45);
    line-height: 1;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.02em;
    position: relative;
    bottom: 40px;
   
   
}



.Restoration_rightside > p {
 
    font-size: 1.5rem/* 24px */;
    /* line-height: 3rem; */
    font-weight: 400;
    /* letter-spacing: 0.04em; */
    text-transform: capitalize;
    color: black;
     position: relative;
    top: 20px;
    text-align: justify;


}
  .Restoration_components1 {

    margin-left: 170px;
    display:flex;
    max-width: 90rem;
    scroll-margin-top: 10rem;
    margin-top:80px;
}

  .Restoration_leftside1  {

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

  }

  .Restoration_leftside1 > h1 {
   
    font-size: 3.2rem;
    color: rgb(48, 45, 45);
    line-height: 1;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.02em;
    position: relative;
    bottom: 40px;
   
   
}



.Restoration_leftside1 > p {
 
    font-size: 1.5rem/* 24px */;
    /* line-height: 3rem; */
    font-weight: 400;
    /* letter-spacing: 0.04em; */
    text-transform: capitalize;
    color: black;
     position: relative;
    top: 20px;
    text-align: justify;


}

  .Restoration_rightside1{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.Restoration_rightside1 img {
  height : 650px;
    width: 550px;
  }

  .Restoration_components2 {


    display:flex;
    max-width: 90rem;
    scroll-margin-top: 10rem;
    margin-top:80px;
}

  .Restoration_rightside2  {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

  }

  .Restoration_rightside2 > h1 {
   
    font-size: 3.2rem;
    color: rgb(48, 45, 45);
    line-height: 1;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.02em;
    position: relative;
    bottom: 40px;
   
   
}



.Restoration_rightside2 > p {
 
    font-size: 1.5rem/* 24px */;
    /* line-height: 3rem; */
    font-weight: 400;
    /* letter-spacing: 0.04em; */
    text-transform: capitalize;
    color: black;
     position: relative;
    top: 20px;
    text-align: justify;

}

  .Restoration_leftside2{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.Restoration_leftside2 img {
  height : 600px;
    width: 550px;
  }

  @media screen and (max-width: 768px) {
    .Restoration{

      margin-top:30px;
            
  }

  .Restoration > h1 {
  
    font-size: 1.4rem;
    padding: 2rem;
    text-align: center;
}
.Restoration_components {

  display:flex;
flex-direction: column-reverse;
  margin-top:35px;
  right: 0px;
}

.Restoration_rightside  {
  align-items: center;
}

.Restoration_rightside > h1 {
  
  text-align: center;
  bottom: 0px;

}

.Restoration_leftside img {
  height: 100vw;
  width: 100vw;
  padding: 2rem;
  margin-top: -20px;
}

.Restoration_rightside > p {
 
  top: 0px;
  padding: 2rem;
  margin-top: 15px;
}

.Restoration_components1 {

  margin-left: 0px;
  display:flex;
  flex-direction: column;
  max-width: 90rem;
  scroll-margin-top: 10rem;
  margin-top:65px;
}

.Restoration_leftside1  {

  align-items:center;

}

.Restoration_leftside1 > p {
 
  padding: 2rem;
  top: 0px;
  margin-top: -25px;

}
.Restoration_rightside1 img {
  height: 100vw;
  width: 100vw;
  padding: 2rem;
}
.Restoration_components2 {


  display:flex;
  flex-direction: column-reverse;
  margin-top:25px;

}
.Restoration_rightside2  {

  align-items: center;


}
.Restoration_rightside2 > p {
 
  padding: 2rem;
  top: 0px;
  margin-top: 15px;
}
.Restoration_rightside2 > h1 {
  
  bottom: 0px;
}
.Restoration_leftside2 img {
  height: 100vw;
  width: 100vw;
  padding: 2rem;
  margin-top: -10px;
}

  }





