.Header{

  display:flex;
  align-items:center;
  justify-content: flex-start;
  height:100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url("../assets/Header background for top of pages .jpg");
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-size: cover;
  opacity: 100%;
  /* margin-top: 130px;     */
}


.Header_components{

  position: absolute;
  
}



.see{
    display: flex;
    flex-direction: column;
    /* border: solid white; */
    margin-top: 25rem;
    background-color:rgba(0, 26, 255, 0.335);
    border: solid black 1px;
    padding: 1rem;
    margin-left: 2rem;
    
  }
  
  .see> h2{
  

    color: white;
    font-size: 100px;
    /* font-size: 80px; */

    /* margin-left: 3%; */
    line-height: 1;
    font-weight: 800;
    letter-spacing: 0.02em;
    
  }

  .H{
    /* background-color: rgb(230, 177, 42, 0.5); */

    display: flex;
    color: white;
    font-size: 100px;

    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 0.02em;
    justify-content: space-between;
    /* border: solid white; */
  }
  
  .ss{
    color: white;
    /* font-size: 3.5vw; */
    font-size: 50px;
    /* font-size: 40%; */

    /* margin-left: 2%; */
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.01em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1%; */
    font-style: italic;
    margin-left: 1.5rem;
    margin-top: 1rem;
  }


  @media screen and (min-width: 769px)  and (max-width: 1150px) {
    .H{
      display: flex;
      flex-direction: column;
    }

    .see{
 width: 70vw;
 margin-top: 35rem;

    }
    .see> h2{
  
      font-size: 85px;    
    }
    .H{
    
      font-size: 85px;
    }

  }



@media screen and (min-width: 451px) and (max-width: 768px) {
    .Header{
        height: 30rem;
        margin-top: 9rem;
        background-size: cover;

        /* border: solid green; */
    }

    .H{
      display: flex;
      flex-direction: column;
      font-size: 60px;
      color: white;


    }

    .see{
      width: 70vw;
      margin-top: 7rem;
      background-color:rgba(0, 26, 255, 0.335);

      /* background-color:#ebdbc99b; */

     
         }

    .see> h2{
  
      font-size: 60px;
      color: white;
    
    }

    .ss{
  
      font-size: 40px;    
    }
  



}

@media screen and (max-width: 600px) {
  .H{

    font-size: 9vw;
    
  }
  .Header{
    height: 30rem;
    margin-top: 9rem;

    /* border: solid green; */
}
  .see> h2{
  
    font-size: 9vw;  
  }

  .ss{

    font-size: 5vw;    
  }
  .see{
  
    margin-top: 11rem;   
       }
}


@media screen and (max-width: 450px) {
  .Header{
    height: 85vh;
    margin-top:6.5rem;
    background-size: cover;

    /* border: solid green; */
}

.H{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 10vw;



}

.see{
  width: 70vw;
  margin-top: 11rem;
  background-color:rgba(0, 26, 255, 0.335);

  /* background-color:#ebdbc99b; */

 
     }

.see> h2{

  color: white;
  font-size: 11vw;  


}

.ss{
  font-size: 6vw;    

}


}



 


