

.navbar{
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0); 
    z-index: 1000; 
    

}



.navbar_comp{
  width: 100vw;
    display: flex;
    /* max-width: 120rem; */
    align-items: center;
    justify-content : space-around;
    top: 0px;
    padding-top:10px;
    padding-bottom: 10px;

}



.testin{
  height:100px;
  width : 150px;
}


.navbar_links{
    display: flex;
    list-style: none;
}

.links {
    color : white;
    text-decoration: none;
    font-size: 28px;
    font-weight: 410;
    line-height: 1.75rem;
    letter-spacing: 0.02em;
    opacity: 1;

    --tw-space-x-reverse: 0;

    margin-left: 2.5rem;
    margin-right: 2.5rem;

  }



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: white; */
  }
  
  li {
    float: left;
  }
  

  li a:hover{
    background-color: rgb(230, 177, 42, 0.5);
    text-decoration: underline;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 14px;
    margin: 14px;
    text-decoration: none;
    display: block;
    text-align: left;
    /* border: solid red; */
  }
  
  .dropdown-content a:hover {background-color: rgb(230, 177, 42, 0.5);     text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



/*================================================================*/
/*THIS IS RESPONSIVE PART

/*par default hamburger avec menu existe pas*/
.smallscreen {
  display: none;
  /* background: white; */
}

.ham{
  display: flex;
  color: black;
  flex:1;
  }

.app__navbar-smallscreen_overlay{
  position: fixed; 
  top: 0;/*menu hamburger tjrs plein ecran, pas de top*/
  left:0;
  width: 100%;
  height: 100vh;
  transition: 0.5s ease;
  z-index: 5;
  background: white;

  /* border: solid green; */

}



.overlay__close {

  cursor: pointer;
  position: absolute;
  top: 47px;
  right: 50px;
}



.app__navbar-smallscreen_links{
  list-style: none;
  display: flex;
  flex-direction: column;
  /* border: solid blue; */
  margin-top: 120px;
}

.app__navbar-smallscreen_links li {
  margin: 2.3rem;
  cursor: pointer;
  font-size: 2.4rem;
  text-align: center;
  font-family: var(--font-base);
  /* float: right; */
}

.app__navbar-smallscreen_links li .p__opensans:hover{
  color: grey;
}

@media screen and (max-width: 1150px) {
  .navbar_links {
      display: none;
  }

  .smallscreen {
      display: flex;
  }

  .navbar img {
    width: 110px;
    height: fit-content;
    /* margin: 10px; */
}
}


@media screen and (max-width: 768px) {


  .navbar {
      padding: 0.7rem;
      /* border: solid red; */
        }
  
  .testin {
      width: 100px;
      /* border: solid red; */
      height: 150px;
      /* object-fit: contain; */
      /* object-fit: contain; */
      /* height: 140px; */


  }
  .navbar_comp{
    display: flex;
    /* max-width: 120rem; */
    align-items: center;
    justify-content : space-around;
    top: 0px;
    padding-top:0px;
    padding-bottom: 0px;
    margin-left: 0px;
    /* border: solid blue; */
}
}

/* @media screen and (min-width: 2000px) {
  .app__navbar-logo img {
      width: 210px;
      height: fit-content;
  }

} */
















