

.Services{

    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:6rem;
    flex-direction: column;
    /* max-width: 65vw; */

}

.Services > h1 {

    /* font-size: 450%; */
    font-size: 2.7rem;
    color: rgb(180, 143, 48);;
    line-height: 1;
    font-weight: 550;
    letter-spacing: 0.02em;
}



.Services_components {

    display:flex;
    /* align-items:center;
    justify-content: center; */
    max-width: 65vw;
    scroll-margin-top: 10rem;
    margin-top:4rem;
}

.article {

display: flex;
flex-direction: column;
align-self: flex-end;
}

.article .p1 {
  align-self: flex-end;
}
.article .p2 {
  align-self: flex-end;
}
.p {

    font-size: 1.65rem;
    font-weight: 400;
    color: black;
    text-align: justify;
    letter-spacing: 0.01em;
    line-height: 1.7;

}


.p1 {

  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 400;
  color: black;
  line-height: 38px;
  font-style: italic;
  max-width: 18rem;
}

.p2 {

  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  line-height: 30px;
  font-style: italic;

}


  @media screen and (max-width: 768px) {

    .Services{
      margin-top:5rem;
      
  }

  .Services > h1 {

    font-size: 1.8rem;

}

  .Services_components {

    margin-top:3.5rem;
    max-width: 80vw;

    /* border: solid red; */
}

.p {

  font-size: 1.25rem;
  font-weight: 400;
  color: black;
  text-align: justify;
  letter-spacing: 0em;
  line-height: 1.7;



}

.p1 {

  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  line-height: 30px;
  font-style: italic;
  max-width: 15rem;
}

.p2 {

  font-size: 1rem;
  font-weight: 300;
  color: black;
  line-height: 30px;
  font-style: italic;

}



}


