

.About_components1 {

    display:flex;
    max-width: 65vw;
    scroll-margin-top: 10rem;
    margin-top:5rem;


}

  .About_leftside1  {

        display:flex;
        flex-direction: column;
        /* border: solid red; */
  }




.About_leftside1 > p {
 
    font-size: 1.65rem;
    /* line-height: 2.8rem; */
    line-height: 1.7;
    font-weight: 400;
    /* text-align: left; */
    color: black;
    letter-spacing: 0.01em;
    text-align: justify;

}

.About_leftside1 img + p {
 

  /* border: solid red; */
}

.About_leftside1 img + p + p{
 
  /* border: solid green; */
  margin-top: 35px;
}

.About_leftside1 img {
    height : 400px;
    width: 230px;
    float: right;
    margin-left: 38px;
    object-fit: contain;
    margin-top: 15px;
    
    
  }

  .A{
display: none;
    
    
  }


  @media screen and (max-width: 768px) {

    .Services > h1 {

      font-size: 1.8rem;
  
  }

  .About_components1 {

    display:flex;
    flex-direction: column-reverse;
    max-width: 80vw;
    scroll-margin-top: 10rem;
    margin-top:4rem;


}

.About_leftside1  {

  display:flex;
  flex-direction: column-reverse;
  justify-content:  center;
  /* border: solid red; */
}
.About_leftside1 > p {
 
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
  text-align: justify;
  letter-spacing: 0em;
  line-height: 1.7;
  margin-top:4rem;


}

.About_leftside1 img {
display: none;
float: none;
  
}
/* .About_leftside1 img + p + p + img{
  display: flex;
  height : 30vh;
  width: 30vw;
  
  margin-left: 0px;
  object-fit: contain;
  margin-top: 0px;
      
    } */
    .A{
      display: flex;
       align-self: center;

          
          
        }
        .A img {
          
          height : 300px;
          width: 400px;
          object-fit: contain;
              
            }
}