.App {

    background-color:#FEFEFC;
    display:flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;


    /* width: 100%; */
    
  }
  
  .App_body{
  
    align-items:center;
    justify-content: center;
    width:100vw;

    
  }