
.Gallery_components_design {

    /* max-width: 80vw; */
    scroll-margin-top: 10rem;
    /* border: solid yellow; */
    /* overflow-x: hidden; */
    /* display: flex;
    flex-direction: column-reverse; */

    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    width: 80vw;
    border: solid green;

}




.Gallery_Down_design {

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* min-width: fit-content; */
    width: max-content;
}

.app__gallery {

display: flex;
margin-left: 2rem;
min-width: 30rem;
max-height: 35rem;
}


.app__gallery-images {

    /* width: 30rem; */
    /* max-height: 35rem; */

    /* margin-left: 2rem;
    scroll-snap-align: start;
    min-width: 30rem;
    max-height: 35rem; */
    /* width: max-content; */
}


/*if I put heigh 100% it will allow the image to take its full height within the
upper container that has a max height of 35 rem which means it will scroll
up and down to see the image, we dont want that*/
.app__gallery-images img {

    max-height: 35rem;

    /* width: max-content; */
    min-width: 30rem;
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}
.app__gallery::-webkit-scrollbar {
    display: none;
}
.app__gallery-images:hover img {
    opacity: .35;
}

.app__gallery-images:hover .gallery__image-icon {
    opacity: 1;
}

.app__gallery_arrows {

    /* width: 90rem; */
    /* min-width: 95vw; */
    /* min-width: 80vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    /* border: solid blue; */
}

.gallery_arrow-icon {
    color: var(--color-golden);
    font-size: 4rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
}

.gallery_arrow-icon:hover {
    color: var(--color-white);
}

@media screen and (max-width: 768px) {
    .Gallery_design{
        margin-top:0rem;
}

.Gallery_components_design {
    max-width: fit-content;
}




.app__gallery {
    display: block;
    width: 100%;
    width: fit-content;



}

.app__gallery::-webkit-scrollbar {
    display: none;
}

.app__gallery-images {
    /* position: relative; */
    min-width: 100vw;

    height:auto;
    margin-left: 0rem;
}


.app__gallery-images img {

    object-fit:contain;
    padding: 0.5rem;

}

.app__gallery_arrows {
    display: none;
}

.app__gallery-images:hover img {
    opacity: 1;
}

}

@media screen and (max-width: 450px) {



    
    .app__gallery-images {
        /* position: relative; */
        min-width: 100vw;
    
        height:auto;
        margin-left: 0rem;
    
            /* border: solid red; */
            padding: 0rem;
            /* padding-left: 1.5rem;
            padding-right: 1.5rem; */
    }

    .app__gallery-images img {
        /* min-width: 100%;
        height: 100%; */
        max-height: 40rem;
        object-fit: cover;
        /* padding: 1rem; */
        opacity: 1;
        transition: .5s ease;
    }
    
}