
.Gallery_design{

    display:flex;
    align-items:center;
    justify-content: center;
    /* margin-top:5%; */
    flex-direction: column;
    
    
}


.Gallery_components_design {

    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    max-width: 80vw;
    scroll-margin-top: 10rem;
    /* border: solid green; */

}




.Gallery_Down_design {
    margin-top: 4rem;
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    max-width: 100%;
    /* position: relative; */
    /* border: solid green; */

}

.app__gallery {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  
}


.app__gallery::-webkit-scrollbar {
    display: none;
}

.app__gallery-images {
    /* position: relative; */
    /* min-width: 30%;
    height: 85%; */
    min-width: 35rem;
    max-height: 40rem;
    /* margin-right: 0rem; */
    margin-left: 2rem;

}



.app__gallery-images img {
    /* min-width: 100%;
    height: 100%; */
    max-height: 40rem;
    object-fit: cover;
    /* padding: 1rem; */
    opacity: 1;
    transition: .5s ease;
}

.app__gallery-images:hover img {
    opacity: .35;
}

.app__gallery-images:hover .gallery__image-icon {
    opacity: 1;
}

.app__gallery_arrows {
    /* border: solid blue; */

    width: 90rem;
    max-width: 90vw;
    min-width: 80vw;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    /* margin-left: 1vw;
    margin-right: 1vw; */

}

.gallery_arrow-icon {
    color: var(--color-golden);
    font-size: 4rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
}

.gallery_arrow-icon:hover {
    color: var(--color-white);
}

@media screen and (max-width: 768px) {
    .Gallery_design{
        margin-top:0rem;
}

.Gallery_components_design {
    max-width: fit-content;
}




.app__gallery {
    display: block;
    width: 100%;
    width: fit-content;



}

.app__gallery::-webkit-scrollbar {
    display: none;
}

.app__gallery-images {
    position: relative;
    min-width: 75vw;

    height:auto;
    margin-right: 0rem;

        /* border: solid red; */
        padding: 1rem;
        /* padding-left: 1.5rem;
        padding-right: 1.5rem; */
}


.app__gallery-images img {

    object-fit:contain;
}

.app__gallery_arrows {
    display: none;
}

.app__gallery-images:hover img {
    opacity: 1;
}

}

@media screen and (max-width: 450px) {
    .app__gallery-images {
        position: relative;
        min-width: 100vw;
    
        height:auto;
        margin-right: 0rem;
    
            /* border: solid red; */
            padding: 1rem;
            /* padding-left: 1.5rem;
            padding-right: 1.5rem; */
    }
}