.Art{

    display:flex;
    align-items:center;
    justify-content: center;
    /* border: solid green; */
    margin-top:5rem;
    flex-direction: column;
    width: 100vw;
    /* border: solid red; */

    
}



.Art > h1 {
  
    font-size: 1.7rem;
    color: rgb(180, 143, 48);;
    line-height: 1.7;
    font-weight: 550;
    letter-spacing: 0.02em;
    text-transform: none;
    text-align: center;
    /* line-height: 3rem; */
    max-width: 80vw;
  }



.Art_components {

    display:flex;
    align-items:center;
    justify-content: center;
    /* max-width: 90vw; */
    scroll-margin-top: 10rem;
    margin-top:5rem;
    flex-direction: column;
    /* border: solid red; */

}

.Art_components > h1{

  font-size: 2.7rem;
  color: rgb(180, 143, 48);;
  line-height: 1;
  font-weight: 550;
  letter-spacing: 0.02em;
  margin-bottom: 1.5rem;

  /* margin-top:3rem; */

}

.mt  {
  margin-top:6rem;
}



/* .mt2{
  margin-top:5%;
  } */




  @media screen and (max-width: 768px) {
    .Art{
      width: 100vw;
      margin-top:5rem;
            
  }

  .Art > h1 {
  
    font-size: 1.4rem;
    margin-bottom:4rem;


  }

.Art_components {

  display:flex;
flex-direction: column;
  margin-top:0rem;
  text-align: center;

    /* border: solid red; */

      /* max-width: 80vw; */
}

.Art_components > h1{

  font-size: 2rem;
  color: rgb(180, 143, 48);;
  line-height: 1;
  font-weight: 550;
  letter-spacing: 0.03em;
  margin-bottom: 0rem;


}

.mt  {
  margin-top:4rem;
}



  }

  @media screen and (max-width: 450px) {
    .Art > h1 {
  
      font-size: 1.1rem;
      color: rgb(180, 143, 48);;
      line-height: 1.7;
      font-weight: 550;
      letter-spacing: 0.02em;
      text-transform: none;
      text-align: center;
      /* line-height: 3rem; */
      max-width: 80vw;
    }
  
  }
